h1{color: blue; background-color: pink; font-size: 30px;}
#info{color: darkgreen; font-size: 10px; background-color:black; font-size: 30px;}
.headings{color: blueviolet; background-color: azure; height: 300px; width: 350px; border: double black 5px; border-radius: 10px;}